.registro {
  background-color: rgb(45, 126, 231);
  height: 100vh;
  color: #fff ;
}

.Container {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 12%;
  margin-top: 90px;
  margin-right: 12%;
}