
.Registro {
  background-color: rgb(45, 126, 231);
  height: 100vh;
  color: #fff ;
}

.header-registro {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  font-size: 2rem;
  height: 12%;
  overflow-y: hidden;
}